version: "3.3"
services:
  db:
    image: elestio/mysql:8.0
    ports:
      - "172.17.0.1:50632:3306"
    environment:
      MYSQL_USER: "pwpush"
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: "pwpush"
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./storage/mysql:/var/lib/mysql

  pwpush:
    image: docker.io/pglombardo/pwpush-mysql:release
    ports:
      - "172.17.0.1:33140:5100"
    depends_on:
      - db
    links:
      - db:mysql
    volumes:
      - ./storage/pwpush:/opt/PasswordPusher/storage:rw

  pma:
    image: elestio/phpmyadmin:latest
    restart: always
    links:
      - db:db
    ports:
      - "172.17.0.1:5965:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: pwpush
      PMA_PASSWORD: ${MYSQL_PASSWORD}
      UPLOAD_LIMIT: 500M
      MYSQL_USERNAME: pwpush
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    depends_on:
      - db
